{% extends 'base.html' %}
{% block content %}
<section class="form-section">
    <h2>Get Your Outfit Recommendations</h2>
    <form method="POST" action="/">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.top_wear.label }} {{ form.top_wear }}
        </div>
        <div class="form-group">
            {{ form.bottom_wear.label }} {{ form.bottom_wear }}
        </div>
        <div class="form-group">
            {{ form.shoes.label }} {{ form.shoes }}
        </div>
        <div class="form-group">
            {{ form.color.label }}
            <div class="checkbox-group">
                {% for subfield in form.color %}
                    <div class="checkbox-item">
                        {{ subfield }} {{ subfield.label }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            {{ form.submit(class="btn-submit") }}
        </div>
    </form>
</section>
{% endblock %}
